<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageSwipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6BC0E7A1E5415C300F2BB6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6BC0E931E5415C300F2BB6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6BC0E9E1E5415C300F2BB6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
